body h1, h2, p, ul, li, a{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    color: #222222;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%; /*maior responsividade da imagem*/
}

* {
    box-sizing: border-box; /*O padding respeita o tamanho da box*/
    margin: 0;
}
/*Superinfo*/
.superinfo-bg {
    background: #2C70FF;
    color: white;
}

.superinfo a {
    color: white;
}